<%- model_class = Coldwater -%>
<div class="page-header">
  <h1>Показание счетчика холодной воды</h1>
</div>

<dl class="dl-vertical">
  <dt><strong>Номер периода в базе:</strong></dt>
  <dd><%= @coldwater.communal_service_id %></dd>
  <dt><strong>Предыдущее показание, м3:</strong></dt>
  <dd><%= @coldwater.last_value %></dd>
  <dt><strong>Текущее показание, м3:</strong></dt>
  <dd><%= @coldwater.current_value %></dd>
  <dt><strong>Тариф, руб:</strong></dt>
  <dd><%= @coldwater.price %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              communal_service_path(:id => @coldwater.communal_service), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_coldwater_path(@coldwater), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              coldwater_path(@coldwater),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
