<% content_for :title, "Вход" %>

<div class="container-fluid">
<div class="container-fluid">
<h1>Вход</h1>
</div>
<br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => "form-horizontal order" }) do |f| %>
  <div class="form-group">
    <%= f.label :login, value: "Логин", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :login, autofocus: true, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, value: "Пароль", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me, value: "Запомнить меня", :class => 'control-label col-md-offset-2 col-md-2' %>
      <div class="col-md-4">
        <%= f.label :remember_me, :class => "form-control" %>
      </div>
    </div>
  <% end -%>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <%= recaptcha_tags %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit "Войти", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<br />

</div>