<%= form_for(@user, :html => { :class => "form-horizontal user" }) do |f| %>

  <div class="form-group<%= " has-error" if f.error_span(:login) %>">
    <%= f.label :login, value: "Логин", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :login, :class => "form-control" %>
    </div>
    <%=f.error_span(:login) %>
  </div>

  <div class="form-group<%= " has-error" if f.error_span(:name) %>">
    <%= f.label :name, value: "Имя", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group<%= " has-error" if f.error_span(:email) %>">
    <%= f.label :email, value: "E-mail", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.email_field :email, :class => "form-control" %>
    </div>
    <%=f.error_span(:email) %>
  </div>

  <div class="form-group">
    <%= f.label :email_notification, value: "Оповещать о событиях", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.check_box :email_notification, {:checked => @user.email_notification, :class => "form-control"}, "true", "false" %>
    </div>
  </div>

  <% if current_user.roles.find_by_name("super_admin") %>
    <%= f.fields_for 'role' do |form_role| %>
      <% @roles.each do |role| %>
        <% if role.name == "active" && @roles.find_by_name("active").users.take && @roles.find_by_name("active").users.take != @user %>
          <% next %>
        <% else %>
          <div class="form-group">
            <%= form_role.label role.name, :class => 'control-label col-md-offset-2 col-md-2' %>
            <div class="col-md-4">
              <%= form_role.check_box role.name, {:checked => (@user.role? role.name), :class => "form-control"}, "true", "false" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="form-group<%= " has-error" if f.error_span(:password) %>">
    <%= f.label :password, value: "Пароль", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.password_field :password, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group<%= " has-error" if f.error_span(:password_confirmation) %>">
    <%= f.label :password_confirmation, value: "Подтверждение пароля", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit nil, :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
