<%- model_class = User -%>
<% content_for :title, "Пользователи" %>

<div class="container-fluid">
<div class="container-fluid">
  <h1>Редактирование учетной записи</h1>
</div>

<br />
<div class="container-fluid">
  <%= render 'form' %>
</div>

<br />

<div class="container-fluid">
  <%= link_to 'Просмотр', @user, class: "btn btn-info" %>
  <%= link_to 'Назад', users_path, class: "btn btn-default" %>
</div>
</div>