<%- model_class = User -%>
<% content_for :title, "Пользователи" %>

<div class="page-header">
  <h1>Пользователи</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Имя</th>
      <th class="col-md-3">Логин</th>
      <th class="col-md-3">E-mail</th>
      <th class="col-md-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if can? :read, user %>
        <tr>
          <td class="col-md-3"><%= user.name %></td>
          <td class="col-md-3"><%= user.login %></td>
          <td class="col-md-3"><%= user.email %></td>
          <td class="col-md-3">
            <%= link_to 'Просмотр', user, class: "btn btn-xs btn-info" %>
            <%= link_to 'Изменить', edit_user_path(user), class: "btn btn-xs btn-warning" %>
            <% if can? :destroy, user %>
              <%= link_to 'Удалить', user, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Вы уверенны?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<br />

<% if can? :create, @users %>
  <div class="container-fluid">
    <%= link_to 'Новый пользователь', new_user_path, class: "btn btn-primary" %>
  </div>
<% end %>

