<%- model_class = User -%>
<% content_for :title, "Пользователи" %>

<div class="container-fluid">
<div class="container-fluid">
  <h1>Новый пользователь</h1>
</div>

<br />
<div class="container-fluid">
<%= render 'form' %>
</div>

<br />

<div class="container-fluid">
<%= link_to 'Назад', users_path, class: "btn btn-default" %>
</div>
<br />
</div>
