<%- model_class = User -%>
<% content_for :title, "Пользователи" %>

<div class="container-fluid">
<div class="container-fluid">
  <h1>Пользователь <%= @user.name %></h1>
</div>

<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Логин:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.login %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>E-mail:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.email %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Оповещать о событиях:</strong>
  </div>
  <div class="col-md-10">
    <% if @user.email_notification %>
      <span>Да</span>
    <% else %>
      <span>Нет</span>
    <% end %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Роли:</strong>
  </div>
  <div class="col-md-10">
  <% @user.roles.each do |role| %>
    <%= "[#{role.name}] " %>
  <% end %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Количество входов:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.sign_in_count %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Текущий вход:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.current_sign_in_at %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Последний вход:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.last_sign_in_at %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>IP текущего входа:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.current_sign_in_ip %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>IP последнего входа:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.last_sign_in_ip %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Количество неуспешных попыток входа:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.failed_attempts %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Код разблокировки:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.unlock_token ||= "Нет" %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Дата блокировки:</strong>
  </div>
  <div class="col-md-10">
    <%= @user.locked_at ||= "Нет" %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Дата создания:</strong>
  </div>
  <div class="col-md-10">
    <%=l @user.created_at %>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="col-md-2">
    <strong>Дата изменения:</strong>
  </div>
  <div class="col-md-10">
    <%=l @user.updated_at %>
  </div>
</div>
<br />
<div class="container-fluid">
  <%= link_to 'Изменить', edit_user_path(@user), class: "btn btn-warning" %>
  <%= link_to 'Назад', users_path, class: "btn btn-default" %>
</div>

<br />
</div>