<%= form_for @hotwater, :html => { :class => "form-horizontal hotwater" } do |f| %>

  <div class="form-group hidden">
    <%= f.label :communal_service_id, :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :communal_service_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:communal_service_id) %>
  </div>
  <div class="form-group<%= " has-error" if f.error_span(:last_value) %>">
    <%= f.label :last_value, :value => "Предыдущее показание, м3", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :last_value, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_value) %>
  </div>
  <div class="form-group<%= " has-error" if f.error_span(:current_value) %>">
    <%= f.label :current_value, :value => "Текущее показание, м3", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :current_value, :class => 'form-control' %>
    </div>
    <%=f.error_span(:current_value) %>
  </div>
  <div class="form-group<%= " has-error" if f.error_span(:price) %>">
    <%= f.label :price, :value => "Тариф, руб", :class => 'control-label col-md-offset-2 col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Сохранить", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                communal_service_path(:id => @hotwater.communal_service_id), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
