<%- model_class = Hotwater -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:communal_service_id) %></th>
      <th><%= model_class.human_attribute_name(:last_value) %></th>
      <th><%= model_class.human_attribute_name(:current_value) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @hotwaters.each do |hotwater| %>
      <tr>
        <td><%= link_to hotwater.id, hotwater_path(hotwater) %></td>
        <td><%= hotwater.communal_service_id %></td>
        <td><%= hotwater.last_value %></td>
        <td><%= hotwater.current_value %></td>
        <td><%= hotwater.price %></td>
        <td><%=l hotwater.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      hotwater_path(hotwater), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_hotwater_path(hotwater), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      hotwater_path(hotwater),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hotwater_path,
            :class => 'btn btn-primary' %>
