<%- model_class = Hotwater -%>
<div class="page-header">
  <h1>Показание счетчика горячей воды</h1>
</div>

<dl class="dl-vertical">
  <dt><strong>Номер периода в базе:</strong></dt>
  <dd><%= @hotwater.communal_service_id %></dd>
  <dt><strong>Предыдущее показание, м3:</strong></dt>
  <dd><%= @hotwater.last_value %></dd>
  <dt><strong>Текущее показание, м3:</strong></dt>
  <dd><%= @hotwater.current_value %></dd>
  <dt><strong>Тариф, руб:</strong></dt>
  <dd><%= @hotwater.price %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              communal_service_path(:id => @hotwater.communal_service), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hotwater_path(@hotwater), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              hotwater_path(@hotwater),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
