<%- model_class = Electric -%>
<div class="page-header">
  <h1>Показание электросчетчика</h1>
</div>

<dl class="dl-vertical">
  <dt><strong>Номер периода в базе:</strong></dt>
  <dd><%= @electric.communal_service_id %></dd>
  <dt><strong>Предыдущее показание, кВт:</strong></dt>
  <dd><%= @electric.last_value %></dd>
  <dt><strong>Текущее показание, кВт:</strong></dt>
  <dd><%= @electric.current_value %></dd>
  <dt><strong>Тариф, руб:</strong></dt>
  <dd><%= @electric.price %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              communal_service_path(:id => @electric.communal_service), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_electric_path(@electric), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              electric_path(@electric),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
