@import url('https://fonts.googleapis.com/css?family=Arimo');


.table_communal_pdf {
	font-family: 'Arimo', sans-serif;
	font-size: 12pt;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
	border: 3px solid black;

	th {
		border: 1px solid black;
		border-bottom: 3px double black;
		padding: 2px 5px 2px 5px;
		text-align: center;
	}

	td {
		border: 1px solid black;
		padding: 2px 5px 2px 5px;
		text-align: center;
	}

	.td_first_col { width: 25%; text-align: left; }

}

.table_communal_result_pdf {
	font-family: 'Arimo', sans-serif;
	font-size: 12pt;
	width: 50%;
	margin-left: 5%;
	border-collapse: collapse;
	border: 3px solid black;

	td {
		border: 1px solid black;
		padding: 2px 5px 2px 5px;
		text-align: center;
	}

	td:first-child {
		text-align: right;
	}

}