<%= form_for @communal_service, :html => { :class => "form-horizontal communal_service" } do |f| %>

  <% if @communal_service.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@communal_service.errors.count, "error") %> prohibited this communal_service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @communal_service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :begin_period, :value => "Начало периода", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :begin_period, :class => 'form-control' %>
    </div>
    <%=f.error_span(:begin_period) %>
  </div>

  <div class="form-group">
    <%= f.label :end_period, :value => "Конец периода", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :end_period, :class => 'form-control' %>
    </div>
    <%=f.error_span(:end_period) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Сохранить", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                communal_services_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
