<%- model_class = CommunalService -%>
<% content_for :title, "Коммунальные услуги" %>

<div class="page-header">
  <h1>Коммунальные услуги</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Период</th>
      <th>Сумма</th>
      <th>PDF</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @communal_services.each do |communal_service| %>
      <tr>
        <td><%= link_to (l communal_service.begin_period).to_s + " - " + (l communal_service.end_period).to_s, communal_service_path(communal_service) %></td>
        <td><%= show_price(communal_service.amount) %></td>
        <td><%= link_to "PDF", communal_service_path(communal_service, format: :pdf), :class => "btn btn-default btn-xs" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_communal_service_path(communal_service), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      communal_service_path(communal_service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @communal_services, :container => false %>
</div>

<br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_communal_service_path,
            :class => 'btn btn-primary' %>
