<div>
<br />
<span style="text-align: center;"><h3>Электричество, ГВС, ХВС</h3></span>
<p style="text-align: center; margin-top: 60px;"><%= (l @communal_service.begin_period).to_s + " - " + (l @communal_service.end_period).to_s %></p>
<br />
<br />

<% @last_values, @current_values, @consumption, @prices, @cost, @cost_sum_html, @result, @colspan_ehc, @rowspan = make_table_pdf %>

<table class="table_communal_pdf">
	<thead>
		<th class="td_first_col"></th>
		<th colspan="<%= @colspan_ehc[0] %>">Электричество</th>
		<th colspan="<%= @colspan_ehc[1] %>">ГВС</th>
		<th colspan="<%= @colspan_ehc[2] %>">ХВС</th>
	</thead>
	<tbody>
		<tr>
			<td class="td_first_col">Предыдущие показания</td>
			<%=raw @last_values %>
		</tr>
		<tr>
			<td class="td_first_col">Текущие показания</td>
			<%=raw @current_values %>
		</tr>
		<tr>
			<td class="td_first_col">Расход</td>
			<%=raw @consumption %>
		</tr>
		<tr>
			<td class="td_first_col"></td>
			<td colspan="<%= @colspan_ehc[0] %>"></td>
			<td colspan="<%= @colspan_ehc[1] %>"></td>
			<td colspan="<%= @colspan_ehc[2] %>"></td>
		</tr>
		<tr>
			<td class="td_first_col">Тарифы, руб.</td>
			<%=raw @prices %>
		</tr>
		<tr>
			<td class="td_first_col"></td>
			<td colspan="<%= @colspan_ehc[0] %>"></td>
			<td colspan="<%= @colspan_ehc[1] %>"></td>
			<td colspan="<%= @colspan_ehc[2] %>"></td>
		</tr>
		<tr>
			<td  class="td_first_col" rowspan="<%= @rowspan %>">Расход, руб.</td>
			<%=raw @cost %>
		</tr>
		<% if @rowspan > 1 %>
			<tr>
				<%=raw @cost_sum_html %>
			</tr>
		<% end %>
	</tbody>
</table>

<br />
<br />
<br />
<table class="table_communal_result_pdf">
	<tr>
		<td class="td_first_col"><b>ИТОГ:</b></td>
		<td><b><%= show_price(@result) %></b></td>
	</tr>
</table>
</div>