<%- model_class = CommunalService -%>
<% content_for :title, "Коммунальные услуги" %>

<div class="page-header">
  <h1><%= (l @communal_service.begin_period).to_s + " - " + (l @communal_service.end_period).to_s %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Начало периода:</strong></dt>
  <dd><%=l @communal_service.begin_period %></dd>
  <dt><strong>Конец периода:</strong></dt>
  <dd><%=l @communal_service.end_period %></dd>
</dl>

<br />
<br />

<div class="container-fluid">

<%= link_to t('.back', :default => t("helpers.links.back")),
              communal_services_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_communal_service_path(@communal_service), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              communal_service_path(@communal_service),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<div class="pull-right">
<%= link_to "PDF", communal_service_path(@communal_service, format: :pdf), :class => "btn btn-default" %>
</div>
</div>

<br />
<br />

<div id="electric" class="col-md-12 well">
<h2>Электричество</h2>
<% if @electrics.any? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Предыдущиее, кВт</th>
      <th>Текущее, кВт</th>
      <th>Расход, кВт</th>
      <th>Тариф, руб.</th>
      <th>Сумма, руб.</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @electrics.each do |electric| %>
      <% @electric_result = (electric.current_value - electric.last_value) * electric.price %>
      <% @electrics_sum += @electric_result %>
      <tr>
        <td><%= electric.last_value %></td>
        <td><%= electric.current_value %></td>
        <td><%= electric.current_value - electric.last_value %></td>
        <td><%= make_currency(electric.price) %></td>
        <td><%= make_currency(@electric_result) %></td>
        <td>
          <%= link_to "Просмотр", electric_path(electric), :class => 'btn btn-xs btn-default' %>
          <%= link_to "Удалить", electric_path(electric), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
    <tr>
      <td></td><td></td><td></td>
      <td>Итог:</td>
      <td><%= make_currency(@electrics_sum) %></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>
<%= link_to "Добавить", new_electric_path(:communal_service_id => @communal_service.id), :class => "btn btn-xs btn-primary" %>
</div>

<br />
<br />

<div id="hotwater" class="col-md-12 well">
  <h2>Горячая вода</h2>
<% if @hotwaters.any? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Предыдущиее, м3</th>
      <th>Текущее, м3</th>
      <th>Расход, м3</th>
      <th>Тариф, руб.</th>
      <th>Сумма, руб.</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @hotwaters.each do |hotwater| %>
      <% @hotwater_result = (hotwater.current_value - hotwater.last_value) * hotwater.price %>
      <% @hotwaters_sum += @hotwater_result %>
      <tr>
        <td><%= hotwater.last_value %></td>
        <td><%= hotwater.current_value %></td>
        <td><%= hotwater.current_value - hotwater.last_value %></td>
        <td><%= make_currency(hotwater.price) %></td>
        <td><%= make_currency(@hotwater_result) %></td>
        <td>
          <%= link_to "Просмотр", hotwater_path(hotwater), :class => 'btn btn-xs btn-default' %>
          <%= link_to "Удалить", hotwater_path(hotwater), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
    <tr>
      <td></td><td></td><td></td>
      <td>Итог:</td>
      <td><%= make_currency(@hotwaters_sum) %></td>
    </tr>
  </tbody>
</table>
<% end %>
<%= link_to "Добавить", new_hotwater_path(:communal_service_id => @communal_service.id), :class => "btn btn-xs btn-primary" %>
</div>

<br />
<br />

<div id="coldwater" class="col-md-12 well">
  <h2>Холодная вода</h2>
<% if @coldwaters.any? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Предыдущиее, м3</th>
      <th>Текущее, м3</th>
      <th>Расход, м3</th>
      <th>Тариф, руб.</th>
      <th>Сумма, руб.</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @coldwaters.each do |coldwater| %>
      <% @coldwater_result = (coldwater.current_value - coldwater.last_value) * coldwater.price %>
      <% @coldwaters_sum += @coldwater_result %>
      <tr>
        <td><%= coldwater.last_value %></td>
        <td><%= coldwater.current_value %></td>
        <td><%= coldwater.current_value - coldwater.last_value %></td>
        <td><%= make_currency(coldwater.price) %></td>
        <td><%= make_currency(@coldwater_result)  %></td>
        <td>
        <%= link_to "Просмотр", coldwater_path(coldwater), :class => 'btn btn-xs btn-default' %>
          <%= link_to "Удалить", coldwater_path(coldwater), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
    <tr>
      <td></td><td></td><td></td>
      <td>Итог:</td>
      <td><%= make_currency(@coldwaters_sum) %></td>
    </tr>
  </tbody>
</table>
<% end %>
<%= link_to "Добавить", new_coldwater_path(:communal_service_id => @communal_service.id), :class => "btn btn-xs btn-primary" %>
</div>

<br />
<br />

<div id="final_sum" class="col-md-12">
  <h2>Результат</h2>
  <table class="table table-striped">
  <tbody>
    <tr>
      <td>Итог:</td>
      <td><%= show_price(@electrics_sum + @hotwaters_sum + @coldwaters_sum) %></td>
    </tr>
  </tbody>
  </table>
</div>

<br />
<br />

<div class="container-fluid">

<%= link_to t('.back', :default => t("helpers.links.back")),
              communal_services_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_communal_service_path(@communal_service), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              communal_service_path(@communal_service),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<div class="pull-right">
<%= link_to "PDF", communal_service_path(@communal_service, format: :pdf), :class => "btn btn-default" %>
</div>

</div>