<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Умный дом" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if user_signed_in? %>
          <a class="navbar-brand" href="<%= root_path %>">Умный дом</a>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Коммунальные услуги", communal_services_path %></li>
              <li><%= link_to "Пользователи", users_path %></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "Вход", new_user_session_path %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <% if user_signed_in? %>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Умный дом</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Коммунальные услуги", communal_services_path %></li>
              <li><%= link_to "Пользователи", users_path %></li>
            </ul>
            <ul class="nav nav-list">
              <li class="nav-header">Личный кабинет (<%= current_user.name %>)</li>
              <li><%= link_to "Профиль", user_path(current_user) %></li>
              <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <% end %>
      </div><!--/row-->

      <footer>
      <br />
      <br />
      <div class="container-fluid">
        <p>&copy; Company 2017</p>
      </div>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
